@import "tailwindcss";

@theme {
    --color-brand-primary: #4f46e5;
    /* Indigo 600 */
    --color-brand-primary-hover: #4338ca;
    /* Indigo 700 */
    --color-brand-dark: #0f172a;
    /* Slate 900 */
    --color-brand-light: #f8fafc;
    /* Slate 50 */
    --color-brand-gray: #64748b;
    /* Slate 500 */

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}